on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    install_keyring

    setprop ro.board.platform msm8953

on init
    start hwservicemanager
    start boot-1-0

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service boot-1-0 /sbin/android.hardware.boot@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
